body {
    background-color: #F3931C;
    overflow-y: hidden;
}

.wrapper {
    margin: auto;
    margin-top: 44vh;
}

@font-face {
    font-family: NewakeFont;
    src: url(/css/NewakeFont.woff);
}



.mainLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


@media only screen and (max-width: 1350px) {
    .mainLogo {
        width: 70%;
    }

    #deskLogo {
        display: none;
    }

    body {
        background-color: #E94E22;
    }
}


@media only screen and (min-width: 1349px) {
    #mobLogo {
        display: none;
    }
}
